<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>Shop</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/shards.min.css}">
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<div class="row justify-content-center align-items-center">
    <span th:text="*{message}"></span>
</div>
<div th:replace="fragments/footer :: footer">...</div>
</body>
</html>