<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>Shop</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/shards.min.css}">
</head>
<body>
<div class="row justify-content-center align-items-center">
    <div class="col-md-12">
        <form action="#" method="post" th:action="@{/register}" th:object="${customer}">
            <div class="row">
                <div class="col-md-6 mb-3 ml-auto mr-auto">
                    <input class="form-control" id="username" placeholder="Логин" th:field="*{username}" type="text">
                    <ul>
                        <li th:each="err : ${#fields.errors('username')}" th:text="${err}" class="alert alert-danger" />
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3 ml-auto mr-auto">
                    <input class="form-control" id="password" placeholder="Пароль" th:field="*{password}" type="password">
                    <ul>
                        <li th:each="err : ${#fields.errors('password')}" th:text="${err}" class="alert alert-danger" />
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3 ml-auto mr-auto">
                    <input class="form-control" id="surname" placeholder="Фамилия" th:field="*{surname}" type="text">
                    <ul>
                        <li th:each="err : ${#fields.errors('surname')}" th:text="${err}" class="alert alert-danger" />
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3 ml-auto mr-auto">
                    <input class="form-control" id="name" placeholder="Имя" th:field="*{name}" type="text">
                    <ul>
                        <li th:each="err : ${#fields.errors('name')}" th:text="${err}" class="alert alert-danger" />
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3 ml-auto mr-auto">
                    <input class="form-control" id="secondName" placeholder="Отчество" th:field="*{secondName}" type="text">
                    <ul>
                        <li th:each="err : ${#fields.errors('secondName')}" th:text="${err}" class="alert alert-danger" />
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3 ml-auto mr-auto">
                    <input class="form-control" id="phone" placeholder="Мобильный телефон" th:field="*{phone}" type="text">
                    <ul>
                        <li th:each="err : ${#fields.errors('phone')}" th:text="${err}" class="alert alert-danger" />
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3 ml-auto mr-auto">
                    <input class="form-control" id="email" placeholder="Электронная почта" th:field="*{email}" type="text">
                    <ul>
                        <li th:each="err : ${#fields.errors('email')}" th:text="${err}" class="alert alert-danger" />
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3 ml-auto mr-auto">
                    <input class="form-control" id="address" placeholder="Адрес" th:field="*{address}" type="text">
                    <ul>
                        <li th:each="err : ${#fields.errors('address')}" th:text="${err}" class="alert alert-danger" />
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3 ml-auto mr-auto">
                    <input class="form-control" type="submit" value="Регистрация">
                </div>
            </div>
        </form>
        <div class="col-md-6 mb-3 ml-auto mr-auto" th:if="*{error!=null and #strings.length(error)>0}">
            <label th:text = "*{error}" class="alert alert-danger"/>
        </div>
    </div>
</div>
</body>
</html>